
@{
    ViewBag.Title = "Index";
}

<h2>Thank you for using Convenient Dry Cleaners LLC!  We will send an email with conformation that we have received your order and that there are no discrepancies with the amount of items.  </h2>

