
@{
    ViewBag.Title = "Index";
}

<body style="background-color: #e5e3e2">
    <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;color:#120c4a;">Thank you for using Convenient Dry Cleaners LLC!  We will send an email with conformation that we have received your order and that there are no discrepancies with the amount of items.  Once the order is complete we will send you another e-mail to let you know it is time to schedule pickup.</p>
    </body>