@{
    ViewBag.Title = "About";
}
<head>
  
</head>
<body background= "https://www.valpak.com/img/bpp/Corrys-Fine-Drycleaning-Seattle-WA.jpg">

<style>
    div.Purpose{margin-top: 2px;
                
    }
</style>
    <style>
        div.Team {
            margin-top: 140px;
           
        }
    </style>
    <div class="Purpose">
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:35px;font-weight:bold;color:#120c4a;">Our Purpose:</p>
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:25px;font-weight:bold;color:#120c4a;">We eliminate time wasted at the dry cleaners by conveniently bringing dry cleaning services to the customer's place of employment.</p>
    </div>
        <div class="Team">
            <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:30px;font-weight:bold;color:#120c4a;">Meet Our Team:</p>
        </div>
    <img src="https://avatars3.githubusercontent.com/u/16005464?v=3&s=466" />
            <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:25px;font-weight:bold;color:#120c4a;">Russell Brooks</p>
            <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;color:#120c4a;">President/CEO</p>
</body>




