@{
    ViewBag.Title = "Home Page";
}
<p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:45px;text-align: center;font-weight:bold;color:#120c4a;">Convenient Dry Cleaners LLC</p>
<body background= "https://www.valpak.com/img/bpp/Corrys-Fine-Drycleaning-Seattle-WA.jpg">
    <style>
        div.Home {
            margin-top: 200px;
            background-color: #e5e3e2;            
            border:8px inset #545565;
        }
    </style>
    <style>
        div.PicBorder{
            margin-top: 60px;
        }
    </style>
    <div class="PicBorder"><center><img style="max-width:95%;border:6px inset #545565;" src="http://www.iowatechniques.com/product%20images/depositories1.jpg" /></center></div>
    <div class="Home">
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:25px;text-align: center;font-weight:bold;color:#120c4a;">The Process:</p>
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;text-align: center;font-weight:bold;color:#120c4a;">1. Sign up for a membership on the website.</p>
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;text-align: center;font-weight:bold;color:#120c4a;">2. Receive your personalized dry cleaning bag in the mail.</p>
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;text-align: center;font-weight:bold;color:#120c4a;">3. Create a new order on the website.</p>
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;text-align: center;font-weight:bold;color:#120c4a;">4. Drop off the personalized bag at your kiosk location</p>
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;text-align: center;font-weight:bold;color:#120c4a;">5. We will pick up your bag and take it to your dry cleaners.</p>
        <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;text-align: center;font-weight:bold;color:#120c4a;">6. Once the dry cleaning is ready, schedule a time for drop off delievery at your residence .</p>
</div>
</body>