
@{
    ViewBag.Title = "Index";
}

<h2>Thank you for signing up! You will receive a conformation e-mail shortly.  You should expect your personalized dry cleaning bag within 5-7 business days.</h2>

