
@{
    ViewBag.Title = "Index";
}

<body style="background-color: #e5e3e2">
    
    <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;color:#120c4a;">You should receive a text message shortly.</p>
</body>