
@{
    ViewBag.Title = "Index";
}

<body style="background-color: #e5e3e2">
    
    <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;color:#120c4a;">Thank you for signing up with Convenient Dry Cleaners LLC! You will receive a conformation e-mail shortly.  You should expect your personalized dry cleaning bag within 5-7 business days.</p>
</body>