
@{
    ViewBag.Title = "Index";
}

<body style="background-color: #e5e3e2">
    <p style="font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:20px;color:#120c4a;">We send you an e-mail to confirm the pick up time.  See you then!</p>
</body>

